<!DOCTYPE html>
  <html>
    <head>
    	<!--Import Google Icon Font-->
      	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      	<!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="/static/css/materialize.css"  media="screen,projection"/>
      	<!--<link type="text/css" rel="stylesheet" href="/static/css/style.css"  media="screen,projection"/>-->

      	<!--Let browser know website is optimized for mobile-->
      	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="description" content="Udacity Restaurants Projects By Youssef MEDAGHRI-ALAOUI using Material Design Lite.">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    	<title>Udacity - Restaurants Project</title>
    </head>

    <body>


<!--
<header>
      <nav class="top-nav">
        <div class="container">
          <div class="nav-wrapper"><a class="page-title">Navbar</a></div>
        </div>
      </nav>
      <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a></div>
      <ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0%);">
        <li class="logo"><a id="logo-container" href="/" class="brand-logo">
            <object id="front-page-logo" type="image/svg+xml" data="res/materialize.svg">Your browser does not support SVG</object></a></li>
        <li class="search">
          <div class="search-wrapper card">
            <input id="search"><i class="material-icons">search</i>
            <div class="search-results"></div>
          </div>
        </li>
        <li class="bold"><a href="about.html" class="waves-effect waves-teal">À propos</a></li>
        <li class="bold"><a href="getting-started.html" class="waves-effect waves-teal">Démarrer</a></li>
      </ul>
    </header>
-->

      <main>
<div class="container">
        <!-- Page Content goes here -->

  <div class="row">
        {% for r in restaurants %}
        <!-- Modal Structure -->
  <div id="modal-{{r.id}}" class="modal">
    <div class="modal-content">
      <h4>Deletion of restaurant's "{{r.name}}" ?</h4>
    </div>
    <div class="modal-footer">
    <form action="{{url_for('deleteRestaurant',restaurant_id = r.id)}}" method="POST">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Disagree</a>
      <button class="btn-flat waves-effect waves-light" type="submit" >Agree</button>
    </form>
    </div>
  </div>
      <div class="col s12 m6 l3">
        <div class="card">
      <div class="card-image">
            <img src="/static/images/{{r.thumbnail_url}}">
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">menu</i></a>
          </div>
          <div class="card-content sample">
          <span class="card-title grey-text text-darken-4">{{r.name}}</span>
          <p><span class="new badge" data-badge-caption="$">4</span></p>
          <p>Average Menu Price</p>

          <p><span class="new badge" data-badge-caption="Indian"></span></p>
          <p>Specialties</p>
          </div>
          <div class="card-action">
          <a href="#" class="activator">Edit</a>
          <a href="#modal-{{r.id}}" class="right">Delete</a>
          <!-- Modal Trigger -->
          </div>
          <div class="card-reveal">

        <span class="card-title grey-text text-darken-4">{{r.name}}<i class="material-icons right">close</i></span>
          <form action="{{url_for('editRestaurant',restaurant_id = r.id)}}" method="POST">
            <div class="row">
              <div class="input-field">
                <input id="name-{{r.id}}" name="name" type="text" class="validate">
                <label for="first_name">Restaurant's name</label>
              </div>
          </div>
          <div class="row">
          <button class="waves-effect waves-light red btn left" type="submit" >Save</button>
          </div>
          </form>
          </div>
        </div>
      </div>
      {% endfor %}



      </div>
      </div>

      </main>



      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="/static/js/materialize.js"></script>
      <script type="text/javascript" src="/static/js/modal.js"></script>
      <script type="text/javascript" src="/static/js/jquery.matchHeight.js"></script>
      <script type="text/javascript">
      $(function() {
  // Handler for .ready() called.
  $('.sample').matchHeight();
  {% with messages = get_flashed_messages()%}
  {% if messages %}
  {% for message in messages %}
  Materialize.toast('{{message}}', 4000)
  {% endfor %}
  {% endif %}
  {% endwith %}
});

      </script>
    </body>
  </html>